{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title>GoLang-REST-API</title>
		<meta charset="UTF-8" />
	</head>
	<body>
		<h1>GoLang REST API</h1>
    <p>gorestapi</p>
{{ end }}

